*{
    padding: 0;
    margin: 0;
    bottom: 0;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
html{
    font-size: 62.5%;
}
.container{
    display: grid;
    grid-template-rows: 10fr 60fr 30fr;
    grid-template-areas: "pianohead"
                         "piano"
                         "pianofooter";
    height: 100vh;
    background:url("./cover.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.pianohead{
   /* background: lightblue; */
}
.piano{
    /* background: lightsalmon; */
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 1100px) minmax(1rem, 1fr);
    grid-template-areas: ". pianocenter .";
}

.pianocenter{
background: rgba(255, 255, 255, 0.384);
border: 4px solid #303952;


}
.blackset{

    height: 45%;
    width: 100%;
    
    position: relative;
    left: -2%;
    
    display: grid;
    grid-template-columns: repeat(26,5fr);
    grid-template-areas: "b1 b2 b3 b4 b5 b6 b7 b8 b9 b10 b11 b12 b13 b14 b15 b16 b17 b18 b19 b20 b21 b22 b23 b24 b25 b26";
    z-index: 1;
  
}

.b,.s{
    border: 2px solid black;
    background: #3d3d3d;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: #ffff;

}
.b-add{
    animation: call1 200ms ease-in-out;

}
@keyframes call1{
    from{
        background: #3d3d3d;
        font-size: 3rem;

    }
    to{
        background: #1e272e;
        font-size: 5rem;
    }
}
.s-add{
    animation: call2 200ms ease-in-out;
}
@keyframes call2{
    from{
        
        background: #1e272e;
        font-size: 3rem;

    }
    to{
        background: #3d3d3d;
        font-size: 5rem;
        

    }
}
.b2,.b6,.b10,.b14,.b18,.b22,.b26{
    background:#1e272e;
}
.whiteset{
    position: relative;
    bottom: 20%;
    height: 55%;
    width: 100%;
    background: red;
    display: grid;
    grid-template-columns: repeat(26,5fr);
    grid-template-areas: "t1 t2 t3 t4 t5 t6 t7 t8 t9 t10 t11 t12 t13 t14 t15 t16 t17 t18 t19 t20 t21 t22 t23 t24 t25 t26";
z-index: 0;

}
.t{
    border: 2px solid #1e272e;
    background: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
    color: #1e272e;
    font-weight: bolder;
}
.t-add{
    animation: call 200ms ease-in-out;
   
}
@keyframes call{
    from{
        background: #1e272e;
        color: #fff;
        font-size: 3rem;

    }
    to{
        background: #fff;
        color:#1e272e;
        font-size: 6rem;

    }
}


.pianofooter{
    background: lime;
    color: white;
}
.letsplay{
    font-family:'Dancing Script', cursive;
    color: #ffff;
    font-size: 5rem;
    letter-spacing: 1rem;
}
@media only screen and (max-width: 750px)
{
    .letsplay{
        font-family:'Dancing Script', cursive;
        color: #ffff;
        font-size: 4rem;
        letter-spacing: 1rem;
    }


}
@media only screen and (max-width: 650px)
{
    .letsplay{
        font-family:'Dancing Script', cursive;
        color: #ffff;
        font-size: 3rem;
        letter-spacing: 1rem;
    }
    .blackset{

        height: 42%;
        width: 100%;
        
        position: relative;
        left: -2%;
        
     
      
    }
    .whiteset{
        position: relative;
        
        bottom: 20%;
        height: 52%;
        width: 100%;
      
    }
    .pianocenter{
        background: rgba(255, 255, 255, 0.384);
        border: 4px solid #303952;
        height: 75%;
        width: 95%;
        position: relative;
        top: 20%;
        left: 2%;
        
        
        }
        .b,.s{
            border: 2px solid black;
            background: #3d3d3d;
            font-family: 'Dancing Script', cursive;
            font-size: 1.5rem;
            color: #ffff;
        
        }
        .t{
            border: 2px solid #1e272e;
            background: #fff;
            font-family: 'Dancing Script', cursive;
            font-size: 3rem;
            color: #1e272e;
            font-weight: bolder;
        }


}
@media only screen and (max-width: 600px)
{
    .letsplay{
        font-family:'Dancing Script', cursive;
        color: #ffff;
        font-size: 2.5rem;
        letter-spacing: 1rem;
    }
    .b,.s{
        border: 2px solid black;
        background: #3d3d3d;
        font-family: 'Dancing Script', cursive;
        font-size: 1rem;
        color: #ffff;
    
    }
    .t{
        border: 2px solid #1e272e;
        background: #fff;
        font-family: 'Dancing Script', cursive;
        font-size: 2.5rem;
        color: #1e272e;
        font-weight: bolder;
    }
    .pianocenter{
        background: rgba(255, 255, 255, 0.384);
        border: 4px solid #303952;
        height: 75%;
        width: 90%;
        position: relative;
        top: 20%;
        left: 4%;
        
        
        }


}
@media only screen and (max-width: 550px)
{
    .letsplay{
        font-family:'Dancing Script', cursive;
        color: #ffff;
        font-size: 2.5rem;
        letter-spacing: 1rem;
    }
    .b,.s{
        border: 2px solid black;
        background: #3d3d3d;
        font-family: 'Dancing Script', cursive;
        font-size: 1rem;
        color: #ffff;
    
    }
    .t{
        border: 2px solid #1e272e;
        background: #fff;
        font-family: 'Dancing Script', cursive;
        font-size: 2rem;
        color: #1e272e;
        font-weight: bolder;
    }
    .pianocenter{
        background: rgba(255, 255, 255, 0.384);
        border: 4px solid #303952;
        height: 70%;
        width: 85%;
        position: relative;
        top: 20%;
        left: 8%;
        
        
        }


}
@media only screen and (max-width: 450px)
{
    .letsplay{
        font-family:'Dancing Script', cursive;
        color: #ffff;
        font-size: 2rem;
        letter-spacing: 1rem;
    }
    .b,.s{
        border: 2px solid black;
        background: #3d3d3d;
        font-family: 'Dancing Script', cursive;
        font-size: 0.8rem;
        color: #ffff;
    
    }
    .t{
        border: 2px solid #1e272e;
        background: #fff;
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
        color: #1e272e;
        font-weight: bolder;
    }
    .pianocenter{
        background: rgba(255, 255, 255, 0.384);
        border: 4px solid #303952;
        height: 60%;
        width: 80%;
        position: relative;
        top: 25%;
        left: 10%;
        
        
        }


}
@media only screen and (max-width: 400px)
{
    .letsplay{
        font-family:'Dancing Script', cursive;
        color: #ffff;
        font-size: 2rem;
        letter-spacing: 0rem;
    }
    .b,.s{
        border: 2px solid black;
        background: #3d3d3d;
        font-family: 'Dancing Script', cursive;
        font-size: 0.8rem;
        color: #ffff;
    
    }
    .t{
        border: 2px solid #1e272e;
        background: #fff;
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
        color: #1e272e;
        font-weight: bolder;
    }
    .pianocenter{
        background: rgba(255, 255, 255, 0.384);
        border: 4px solid #303952;
        height: 60%;
        width: 85%;
        position: relative;
        top: 25%;
        left: 8%;
        
        
        }


}